.react-flow__handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #000;
}

.react-flow__handle[data-type="input/text"],
.react-flow__handle[data-type="output/text"] {
  background-color: #00ff00;
}

.react-flow__handle[data-type="input/nft"],
.react-flow__handle[data-type="output/nft"] {
  background-color: #0000ff;
}

.react-flow {
  border-radius: 16px;
}

.bg-card {
  background-color: transparent !important;
}

.react-flow__node {
  background-color: #27272A; 
  border: 5px solid #d8b4fe;
  border-radius: 16px; 
}

.react-flow__node.selected {
  background-color: #27272A; 
  border: 5px solid #a855f7;
  border-radius: 16px; 
}