.react-flow__handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #000;
}

.react-flow__handle[data-type="input/text"],
.react-flow__handle[data-type="output/text"] {
  background-color: #00ff00;
  width: 10px;
  height: 10px;
}

.react-flow__handle[data-type="input/nft"],
.react-flow__handle[data-type="output/nft"] {
  background-color: #0000ff;
  width: 10px;
  height: 10px;
}

.react-flow {
  border-radius: 16px;
}

.bg-card {
  background-color: transparent !important;
}

.react-flow__node {
  background-color: #27272A; 
  border: 5px solid #d8b4fe;
  border-radius: 16px; 
}

.react-flow__node.selected {
  background-color: #27272A; 
  border: 5px solid #e9d5ff ;
  border-radius: 16px; 
}

.react-flow__edge-path {
  stroke: #ffff; 
  stroke-width: 3px;
  stroke-dasharray: 2 2; 
}
