.react-flow__handle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #000;
}

.react-flow__handle[data-handleid="input/text"],
.react-flow__handle[data-handleid="output/text"] {
  background-color: #00ff00;
}

.react-flow__handle[data-handleid="input/nft"],
.react-flow__handle[data-handleid="output/nft"] {
  background-color: #0000ff;
}